
services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: movies
      POSTGRES_USER: movies_user
      POSTGRES_PASSWORD: movies_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - ipvo_net
    restart: unless-stopped

 
  backend1:
    build: ./backend
    container_name: backend1
    environment:
      DATABASE_URL: postgresql://movies_user:movies_pass@postgres:5432/movies
      TMDB_API_KEY: 
    depends_on:
      - postgres
    networks:
      - ipvo_net
    restart: unless-stopped

  backend2:
    build: ./backend
    container_name: backend2
    environment:
      DATABASE_URL: postgresql://movies_user:movies_pass@postgres:5432/movies
      TMDB_API_KEY: 
    depends_on:
      - postgres
    networks:
      - ipvo_net
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend1
      - backend2
    networks:
      - ipvo_net
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - ipvo_net  
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - ipvo_net
    restart: unless-stopped

  
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - ipvo_net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - ipvo_net

  kafka_indexer:
    build: ./kafka_indexer
    depends_on:
      - kafka
      - elasticsearch
    networks:
      - ipvo_net


  frontend:
    build: ./frontend
    container_name: streamlit
    ports:
      - "8501:8501"
    depends_on:
      - nginx
    networks:
      - ipvo_net

    
volumes:
  postgres_data:
  es_data:


networks:
  ipvo_net:
    driver: bridge
